.contactSection {
  h2 {
    font-size: 3rem;
    letter-spacing: 3px;
  }

  .contact {
    padding: 0 50px;

    p {
      font-size: 1.6rem;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }
  }
}
