.titlescreen {
    position: relative;
    width: 960px;
    height:540px;
    border: 5px solid black;
    display: flex;
    justify-content: center;


}
.contain:hover {
    width: 30%;
}
.contain {
    width: 20%;
    position: absolute;
    padding-top: 40%;
}
.start {
    position: absolute;
   
    
}