.container {
  width: 50%;
  padding: 10px 0;
  // background-color: green;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .btn {
    background-color: #f0ff22;
    font-family: "Bangers", cursive;
    border: none;
    width: 80px;
    height: 80px;
    font-size: 2.5rem;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;

    &:hover {
      background-color: #006eff;
      color: #ffffff;
    }
  }
}

.active {
  background-color: #ff0000;
  color: #ff0000;
}
