.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  z-index: 1000;

  .indexZero {
    width: 420px;

    .sub_1 {
      z-index: -1;
    }

    .sub_2 {
      z-index: -1;
    }
  }

  .indexOne {
    width: 420px;
  }

  .indexTwo {
    .sub_3 {
      z-index: -2;
    }
  }

  .indexTwo,
  .indexThree,
  .indexFour {
    position: relative;
    height: 200px;
    width: 600px;
    z-index: -1;
    bottom: 200px;
    left: 100px;

    .sub_4 {
      position: absolute;
      left: 60%;
      width: 100px;
      z-index: -2;
    }

    .sub_5 {
      position: relative;
      top: 0;
      left: 5%;
      width: 250px;
      position: absolute;
      z-index: -3;
    }
  }

  .indexThree {
    .sub_7 {
      position: absolute;
      top: 80px;
      left: 0;
    }
  }

  .indexFour {
    .sub_7 {
      position: absolute;
      top: 70px;
      left: 250px;
      width: 50px;
    }
  }

  // .sub_6 {
  //   position: absolute;
  //   top: -135px;
  // }

  .indexFive {
    width: 180px;
    margin-top: 10px;
  }

  .messageOne,
  .messageTwo {
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding: 10px 15px;
    border-radius: 20px;
    z-index: 10;
  }

  .messageTwo {
    // position: absolute;
    top: 0;
  }
}
