.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  position: relative;

  .indexZero {
    position: absolute;
    width: 420px;

    .sub_1 {
      position: absolute;
      top: -165px;
      z-index: -1;
    }

    .sub_2 {
      position: absolute;
      top: -60px;
      z-index: -1;
    }
  }

  .indexOne {
    position: absolute;
    top: 0;
    width: 420px;
  }

  .indexTwo {
    .sub_3 {
      position: absolute;
      top: -135px;
      z-index: -2;
    }
  }

  .indexTwo,
  .indexThree,
  .indexFour {
    position: absolute;
    top: 40%;
    width: 600px;
    z-index: -1;

    .sub_4 {
      position: absolute;
      left: 50%;
      width: 100px;
      z-index: -2;
    }

    .sub_5 {
      position: absolute;
      top: 0;
      left: 20%;
      width: 250px;
      z-index: -3;
    }
  }

  .indexThree {
    .sub_7 {
      position: absolute;
      top: 80px;
      left: 0;
    }
  }

  .indexFour {
    .sub_7 {
      position: absolute;
      top: 70px;
      left: 180px;
      width: 50px;
    }
  }

  .sub_6 {
    position: absolute;
    top: -135px;
  }

  .indexFive {
    width: 180px;
    margin-top: 10px;
  }

  .messageOne,
  .messageTwo {
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding: 10px 15px;
    border-radius: 20px;
    z-index: 10;
  }

  .messageTwo {
    position: absolute;
    top: 0;
  }
}
