//variables
//fonts
$font_xl: 4rem;
$font_lg: 2.5rem;
$font_md: 2rem;
$font_sm: 1.5rem;
//colors
$green: #35805a;
$blue: #00bbe0;
$back_blue: #00bbe0d7;
$orange: #fd8154;
$lightblue: #c2f5ff;
$yellow: #ffea47;

//mixins
@mixin flex-just-al-wrap($just, $align, $wrap) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin border-box($width, $height, $radius) {
  width: $width;
  height: $height;
  border-radius: $radius;
  border: 1px solid #333;
}

@mixin border-shadow-box($padding, $radius) {
  padding: $padding;
  border-radius: $radius;
  box-shadow: 3px 4px 10px #333;
}

@mixin grid($wd, $row, $column, $gap) {
  width: $wd;
  display: grid;
  grid-template: $row / $column;
  grid-gap: $gap;
}

// ? Breakpoints

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 982px;
$xl: 1200px;
$xxl: 1400px;
$over: 1600px;

@mixin breakpoint-xs {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin breakpoint-sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin breakpoint-xl {
  @media (min-width: $xl) {
    @content;
  }
}
@mixin breakpoint-xxl {
  @media (min-width: $xxl) {
    @content;
  }
}
@mixin breakpoint-over {
  @media (min-width: $over) {
    @content;
  }
}
