@import "../styles/Configure.module.scss";

$messageBg: #35805a;
$messageColor: #ffffff;
$nameColor: #0400ff;

.outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    width: 50%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .indexThirteen {
      width: 140px;
    }
  }

  .storybubbles {
    width: 50%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // padding-bottom: 3%;
    // -webkit-transform: perspective(50em) rotateX(-30deg);
    // transform: perspective(90em) rotateX(-30deg);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #fff;
    animation: showUp 0.5s linear forwards;
    .message {
      font-size: 2.5rem;
      padding: 20px;
      margin: 10px 50px;
      letter-spacing: 2px;
      border-radius: 20px;

      // background-color: $messageBg;
      // color: $messageColor;
    }
    .name {
      color: $nameColor;
    }
  }
}

.backgroundImage {
  background-image: url(../assets/images/volcano/background_1.png);
  width: 100%;
  height: 100%;
}
