.containter {
  text-align: center;
  background-color: aqua;
  height: 100vh;

  h2 {
    font-size: 4rem;
    margin: 20px 0;
  }

  p {
    font-size: 2rem;
    margin: 20px 0;
  }

  h2,
  p {
    padding: 0;

    letter-spacing: 2px;
  }
}
