@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
/* font-family: 'Bangers', cursive; */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bangers", cursive;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
