@import "./Configure.module.scss";

.container {
  height: 100%;
  min-height: 100vh;
  // background-color: $lightblue;
  background-image: url("https://i.pinimg.com/originals/be/87/14/be8714c4e87b970c3726e8f6910d2af1.gif");
  background-position: top;
  background-size: cover;
  .homeNav {
    font-size: $font_sm;
    @include flex-just-al-wrap(space-between, center, no-wrap);
    padding: 0rem 3rem;
    background-color: $yellow;
    box-shadow: 1px 2px 5px #333;
    margin-bottom: 1rem;
    height: 3.5rem;
    @include breakpoint-md {
      padding: 0rem 5rem;
      font-size: $font_md;
      height: 5rem;
    }
    .logo {
      background-color: #fff;
      @include flex-just-al-wrap(center, center, no-wrap);
      @include breakpoint-md {
        @include border-box(4.5rem, 4.5rem, 2rem);
      }
    }
    .navlist {
      width: 50%;
      list-style: none;
      @include flex-just-al-wrap(space-between, center, no-wrap);
      @include breakpoint-sm {
        width: 40%;
      }
      @include breakpoint-md {
        width: 40%;
      }
      @include breakpoint-lg {
        width: 30%;
      }
      @include breakpoint-xl {
        width: 23%;
      }
    }
  }
  .main {
    @include flex-just-al-wrap(space-evenly, center, no-wrap);
    min-height: 84vh;
    width: 100%;
    flex-direction: column;
    .titleCon {
      @include flex-just-al-wrap(center, center, no-wrap);
      flex-direction: column;
      margin-bottom: 1rem;
      @include breakpoint-xxl {
        margin-bottom: 0;
      }
      .title {
        font-size: $font_lg;
        background-color: $orange;
        padding: 1rem 3rem;
        margin-bottom: 1rem;
        @include border-shadow-box(0.5rem 4rem, 2rem);
        @include breakpoint-sm {
          font-size: $font_xl;
        }
      }
      span {
        font-size: $font_sm;
        @include breakpoint-sm {
          font-size: $font_md;
        }
      }
    }
    .gameCon {
      width: 85%;
      max-width: 57rem;
      background-color: $back_blue;
      border-radius: 2rem;
      box-shadow: 1px 2px 5px #333;
      @include grid(85%, repeat(3, 1fr), repeat(2, 1fr), 0);
      @include breakpoint-sm {
        @include grid(85%, repeat(2, 1fr), repeat(3, 1fr), 0);
      }

      .gameIcons {
        cursor: pointer;
        margin: 1rem;
        width: 130px;
        height: 130px;
        justify-self: center;
        align-self: center;
        @include breakpoint-md {
          width: 170px;
          height: 170px;
        }
        @include breakpoint-xl {
          width: 200px;
          height: 200px;
        }
        .gameImage {
          border-radius: 1.5rem;
          @include breakpoint-lg {
            border-radius: 3rem;
          }
        }
      }
    }
  }
}
