.container {
  position: relative;
  margin: 0 auto;

  .mainBackpack {
    width: 500px;
  }

  .stick {
    position: absolute;
    width: 70px;
    top: 40px;
    left: 100px;
  }

  .smallRock {
    position: absolute;
    width: 60px;
    top: 50px;
    left: 185px;
  }
}
