.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    font-size: 3rem;
    margin: 20px 0 0 0;
  }

  p {
    font-size: 1.6rem;
    margin: 0;
    padding: 10px 100px;
  }

  .contents {
    width: 100%;
    display: flex;
    justify-content: center;

    .map {
      width: 80px;
    }

    .backpack {
      width: 100px;
    }
  }
}
