.container {
  position: relative;
  z-index: 0;
  width: 600px;
  margin: auto;

  .expand {
    position: absolute;
    bottom: 83px;
    right: 73.5px;
    width: 30px;
    height: 30px;
    background-color: red;
    z-index: 4000;
    cursor: pointer;
    animation: blinker 1s step-start infinite;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
