.container {
  position: relative;
  z-index: 0;
  width: 500px;
  margin: auto;

  .expand {
    position: absolute;
    bottom: 67px;
    right: 60px;
    width: 30px;
    height: 30px;
    background-color: #88ff00;
    z-index: 4000;
    cursor: pointer;
  }
}
