.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .footer {
    background-color: red;
    height: 60px;
    width: 100%;
  }
}
