@import "./Configure.module.scss";
$quizBtn: #ff6832;
$quizColor: #ffffff;
$quizBtnHover: #ffea47;
$quizBtnHoverColor: #000000;
$modalBg: #00f7ff;
$closeBtn: #ffff00;
$closeBtnHover: #ff0000;
$closeBtnColor: #ffffff;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  .questionBox {
    width: 60%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: #fff;
    padding: 3rem;
    animation: showBig 0.5s linear forwards;
    h3 {
      margin: 0;
      font-size: 3rem;
      letter-spacing: 2px;
      padding: 10px 60px;
    }
    .quizText {
      font-size: xx-large;
    }
    .subContainer {
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 20px 0;
      .button {
        background-color: $quizBtn;
        color: $quizColor;
        width: 90px;
        height: 90px;
        border: none;
        border-radius: 50%;
        font-size: 3.5rem;
        text-decoration: none;
        font-weight: 700;
        margin: 0 10px;
        cursor: pointer;
        &:hover {
          background-color: $quizBtnHover;
          color: $quizBtnHoverColor;
        }
      }
    }
  }
}
.modalContent {
  font-size: 3rem;
  letter-spacing: 2px;
  background-color: $modalBg;
  border: 1px solid #888;
  position: relative;
  top: 30%;
  text-align: center;
  button {
    border: none;
    font-size: 3rem;
    letter-spacing: 2px;
    padding: 5px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: $closeBtn;
    font-family: "Bangers", cursive;
    &:hover {
      color: $closeBtnColor;
      background-color: $closeBtnHover;
    }
  }
}

.rightModal {
  font-size: 2.5rem;
  letter-spacing: 2px;
  background-color: $blue;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  text-align: center;
  padding-top: 50px;
  color: black;
  border: 5px solid black;
  border-radius: 3rem;
  align-items: center;
  padding: 1rem;
  box-shadow: 2px 2px 20px black;
  @include breakpointH-md {
    top: 25%;
  }
  button {
    border: none;
    font-size: 3rem;
    letter-spacing: 2px;
    padding: 5px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: $orange;
    font-family: "Bangers", cursive;
    color: black;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

.wrongModal {
  font-size: 2.5rem;
  letter-spacing: 2px;
  background-color: $orange;
  width: 50%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  text-align: center;
  padding-top: 50px;
  color: black;
  align-items: center;
  border: 5px solid black;
  border-radius: 3rem;
  padding: 1rem;
  box-shadow: 2px 2px 20px black;
  @include breakpointH-md {
    top: 25%;
  }

  button {
    border: none;
    font-size: 3rem;
    letter-spacing: 2px;
    padding: 5px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: $yellow;
    font-family: "Bangers", cursive;
    color: black;
    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}
