.container {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;

  .radio {
    font-size: 3rem;
    letter-spacing: 2.5px;
    font-weight: 700;
    display: grid;
    grid-template-rows: auto 30px;
    gap: 10px;
    text-transform: uppercase;

    input[type="radio"] {
      -ms-transform: scale(1.7); /* for IE 9 */
      -webkit-transform: scale(1.7); /* for Chrome, Safari, Opera */
      transform: scale(1.7); /* default */
      justify-self: center; /* for centering */
    }

    .reading {
      color: blue;
    }

    .logic {
      color: rgb(255, 174, 0);
    }
  }
}
